@{
}
<div class="card center">
    <form method="post" action="/stylists">
        <div class="form-group">
            <label for="formGroupExampleInput">Stylist Name</label>
            <input type="text" name="stylistName" class="form-control" id="formGroupExampleInput" placeholder="Jane Doe" required>
        </div>
        <button class="btn btn-primary" type="submit">Add Employee</button>
    </form>
</div>