@{
}

<p>Are you sure you want to fire all stylists from your salon?</p>
<form action="/stylists/delete" method="post">
    <button class="btn btn-success">Yes</button>
</form>
<a href="/stylists/" class="btn btn-danger">No</a>