@{
    ViewData["Title"] = "All Clients";
}

<div class="container">
    <div class="jumbotron">
        <h1>@Model.StylistName</h1>
    </div>

    @foreach (var client in Model)
    {
        <li>@client.Name</li>
    }
</div>