@{
    ViewData["Title"] = "Stylist Details";
}

<div class="container">
    <div class="jumbotron">
        <h1>@Model.StylistName</h1>
    </div>
    <a href="/stylists/@Model.StylistId/clients" class="btn btn-info">View Clients</a>
    <a href="/stylists/@Model.StylistId/update" class="btn btn-warning">Update Information</a>
    <form action="/stylists/@Model.StylistId/delete" method="post">
        <button type="submit" class="btn btn-danger">Terminate Stylist</button>
    </form>
</div>