@{
}

<form method="post" action="/stylists/@Model.StylistId/update">
    <div class="form-group">
    <label for="formGroupExampleInput">Stylist Name</label>
    <input value="@Model.StylistName" type="text" name="stylistName" class="form-control" id="formGroupExampleInput" placeholder="Margot Tenenbaum" required>
    </div>
    <button class="btn btn-primary" type="submit">Update Information</button>
</form>