@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="jumbotron">
        <h1>Stylists for @Model["specialty"].SpecialtyType</h1>
    </div>

    @foreach (var stylist in Model["stylists"])
    {
        <h3>@stylist.StylistName</h3>
    }

    <a href="/specialties/@Model["specialty"].SpecialtyId/assign" class="btn btn-success">Add Another Stylist</a>
    <form action="/specialties/@Model["specialty"].SpecialtyId/delete" method="post">
        <button type="submit" class="btn btn-danger">Remove Specialty</button>
    </form>
</div>

