.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.btn {
    margin: 10px;
}

.card {
   margin-top: 50px;
   text-align: center;
   width: 700px;
   border: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

select {
    text-align-last: center;
}

input {
    text-align: center;
}