@{
    ViewData["Title"] = "Perfect Hair Forever";
}

<div class="container">
    <div class="jumbotron">
        <h1>Perfect Hair Forever</h1>
    </div>
    <div>
        <a href="/stylists" class="btn btn-success">All Stylists</a>
        <br>
        <br>
        <a href="/clients" class="btn btn-success">All Clients</a>
        <br>
        <br>
        <a href="/stylists/new" class="btn btn-success">New Stylist</a>
        <br>
        <br>
        <a href="/clients/new" class="btn btn-success">New Clients</a>
    </div>
</div>