@{
    ViewData["Title"] = "Snappy Snips";
}

<div class="container">
    <div class="jumbotron">
        <h1>Snappy Snips</h1>
    </div>
    <div class="row center">
        <div class="col-md-3 center">
            <h1>View</h1>
            <a href="/stylists" class="btn btn-dark">All Stylists</a>
            <br>
            <br>
            <a href="/clients" class="btn btn-dark">All Clients</a>
            <br>
            <br>
            <a href="/specialties" class="btn btn-dark">All Specialties</a>
        </div>
        <div class="col-md-3 center">
            <h1>Create</h1>
            <a href="/stylists/new" class="btn btn-dark">New Stylist</a>
            <br>
            <br>
            <a href="/clients/new" class="btn btn-dark">New Client</a>
            <br>
            <br>
            <a href="/specialties/new" class="btn btn-dark">New Specialty</a>
        </div>
    </div>
</div>