@{
    ViewData["Title"] = "New Client";
}

<form method="post" action="/clients">
    <div class="form-group">
        <label for="formGroupExampleInput">Client Name</label>
        <input type="text" name="clientName" class="form-control" id="formGroupExampleInput" placeholder="Jane Doe" required>
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">Client Phone</label>
        <input type="text" name="clientPhone" class="form-control" id="formGroupExampleInput" placeholder="(503)-123-4567" required>
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">Client Email</label>
        <input type="text" name="clientEmail" class="form-control" id="formGroupExampleInput" placeholder="jane.doe@gmail.com" required>
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Stylist</label>
        <select class="form-control" required>
            <option name="clientStylist" value="">Select stylist...</option>
            <option name="clientStylist" value="1">Margot Tenenbaum</option>
            <option name="clientStylist" value="2">Lina Shadrach</option>
            <option name="clientStylist" value="3">Jonathan Van Ness</option>
            <option name="clientStylist" value="4">Nikki Boyd</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Add Client</button>
</form>