@{
}

<p>Are you sure you want to delete all clients from your salon?</p>
<form action="/clients/delete" method="post">
    <button class="btn btn-success">Yes</button>
</form>
<a href="/clients" class="btn btn-danger">No</a>